            body{
                margin:0;
                height: 120vh;
                display: flex;
                flex-direction: column;
                background-color: #212B3A;

            }

            .header{
                display:flex;
                flex-direction: row;
                background-color:#1c1c1c;
                color:white;
                min-height:10vh;
                border-bottom-color:black;
                box-shadow:3px 5px 5px #1C1C1C;
                transition: border-color 1s ease;                
            }
            .header:hover{
                border-bottom-color: #FBA580;
            }            
            .left-header{
                flex:1;
                background:none;
            }
            .right-header{
                flex:4;
                background:none;
            }
            .image{
                height:100px;
                width: 150px;

            }
            .right-header{
                display:flex;
                flex-direction: row-reverse;
                align-items: end;
            }
            button{
                padding: 5px 20px;
                background:none;
                border: none;
                color: #FBA580;
                font-family: Arial, Helvetica, sans-serif;
                font-size:14px;
            }
            button:hover{
                font-size:17px;
                border-bottom:solid;
                border-bottom-color: #FBA580;
                padding:5px 20px; 
                transition:0.15s;
            }
            button:active{
                color:#ff8551;
                font-size: 14px;
            }

            .a{
                flex:2;
            }
            .b{
                flex:1;
            }
            .logout{
                
                padding: 5px 20px;
                text-decoration: none;
                color: #FBA580;
                font-family: Arial, Helvetica, sans-serif;
                font-size:14px;

            }
            .logout:hover{
                font-size:17px;
                border-bottom:solid;
                border-bottom-color: #FBA580;
                padding:5px 20px;  
                transition:0.15s;    
            }
            .logout:active{
                font-size: 14px;
            }
            .sectionA{
                display: flex;
                height: 100vh;
                margin-top: 5vh;
            }
            .form-section{
                flex:1;
                display: flex;
                flex-direction: column;
                background-color: #FBA580;            
                margin-left: 3vh;
                padding-top: 5vh;
                padding-left: 4vh;
                background:linear-gradient(45deg,#212B3A,#1c1c1c,#212B3A,#1c1c1c); 
                background-size: 400% 400%;
                animation: gradientAnimation 10s ease infinite;
                color:#FBA580;
                height:50%;              
            }
            @keyframes gradientAnimation{
                0%{
                    background-position: 0% 50%;
                }
                50%{
                    background-position: 100% 50%;
                }
                100%{
                    background-position: 0% 50%;
                }
            }            


            .image-section{
                flex:1;
                position: relative;
                
            }
            .image-section img{
                width:100%;
                height: 100%;
                object-fit: cover;
                
            }
            .image-section::after{
                content:"";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.1),transparent);
            }
            #tests{
                display: none;
            }
            #histor{
                display: none;
            }
            #suggestions{
                display: none;
            }
            .sectionB,.sectionC{
                display: flex;
                flex:1;      
                flex-direction:column;
                margin-top: 5vh ;
                height: 100vh;
                padding-left: 80px;
                margin-right: 20vh;
            }

            .headB,.headC{
                display: flex;
                background-color: #FBA580;
                flex:1;
                padding-left: 20px;
                background: linear-gradient(60deg,#FBA580,#212B3A,#FBA580,#314767);
                background-size: 400% 400%;
                animation: headB 8s ease infinite;
                color:#1c1c1c;

            }
            @keyframes headB{
                0%{
                    background-position: 0% 50%;
                }
                50%{
                    background-position: 100% 50%;
                }
                100%{
                    background-position: 0% 50%;
                }
            } 
            .bodyB,.bodyC{
                display: flex;
                background-color: #1C1C1C;
                flex:2;
                height: 50vh;
                color: white;
                padding-left: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                font-weight: 1000;
            }
            .sectionD{
                display: flex;
                background-color: #1c1c1c;
                flex-direction: column;
                width: 30vh;
                height: 40vh;
                margin-top: 10px;
                color: #FBA580;
                font-size:medium;
                font-style: oblique;
                font-weight: bold;
                border-radius: 10px;
                border: none;
                transition: box-shadow 0.15s, border 1s;
            }
            .sectionD:hover{
                box-shadow:5px 5px 15px black;
                border:solid;
                border-width: 0.5px;
            }
            img{
                flex:1;
                height: 40px;
                width:30px;
                margin-top: 5px;
                margin-left:10px;
            }
            .edit{
                flex:1;
                display: flex;
                flex-direction: row-reverse;
            }
            p{
                flex:4;
                margin-left: 15px;
                transition: font-size 0.15s;
            }
            p:hover{
                font-size: large;
                cursor: pointer;
            }
            P:active{
                font-size: medium;
            }
            #profile{
                position: relative;
            }
            #profilE{
                position: absolute;

            }
